<template name="masterLayout">
  <div class="admin">
    <p id="close-admin-panel"><i class="fa fa-times"></i></p>
    {{>Template.dynamic template=admin}}
  </div>

  <div class="app">

    <div class="stripe1"></div>
    <div class="stripe2"></div>
    {{> modulesNav}}
    <div class="main-nav">
      <ul>
        <li><a href="/">Modules</a></li>
        <li><a href="">History</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Dealers</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <div id="logo"></div>
    </div>

    <div id="open-admin-panel"><i class="fa fa-user admin-icon"></i></div>
    {{>Template.dynamic template=app}}
  </div>

</template>

<template name="modulesNav">
  <div class="modules-nav">
    {{#if Template.subscriptionsReady}}
    <ul>
    {{#each titles}}
      <li>
        <div>
          {{#if new}}<span class="euro-new">NEW </span>{{/if}}
          {{#if inProduction}}<span class="euro-in-production">IN PRODUCTION </span>{{/if}}
          <a href="{{pathFor '/:slug' slug=slug}}" class="euro-rack-title {{#if isActive}}active{{/if}}">{{title}}</a>
        </div>
      </li>
    {{/each}}
    </ul>
    {{/if}}
  </div>
</template>