<template name="admin">
  <p class="add-euro">New module</p>
  {{> submitEuroRack}}
  {{> euroRacksAdmin}}
</template>

<template name="euroRacksAdmin">
  {{#if Template.subscriptionsReady}}
  <ul>
    {{#each euroRacks}}
      <li><span class="euro-tile">{{title}}</span>{{> euroRackAdmin}}</li>
    {{/each}}
  </ul>
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="euroRackAdmin">
  <a href="/edit/{{slug}}" class="link-to-edit">{{title}}</a>
  <a href="#" class="delete-euro"><i class="fa fa-trash"></i></a>
  <br>
  <div class="euro-controls">
    <input type="checkbox" checked="{{#if active}}checked{{/if}}" class="toggle-active">
    <label for="active-module" class="{{#if active}} checked{{/if}}">Active</label>
    <br>
    <input type="checkbox" checked="{{#if inProduction}}checked{{/if}}" class="toggle-inProduction">
    <label for="inProduction-module" class="{{#if inProduction}} checked{{/if}}">In production</label>
    <br>
    <input type="checkbox" checked="{{#if new}}checked{{/if}}" class="toggle-new">
    <label for="new-module" class="{{#if new}} checked{{/if}}">New</label>
    <br>
    <input type="checkbox" checked="{{#if discontinued}}checked{{/if}}" class="toggle-discontinued">
    <label for="discontinued-module" class="{{#if discontinued}} checked{{/if}}">Discontinued</label>
  </div>
</template>