<template name="euroRack">
  {{#if Template.subscriptionsReady}}
    {{#with euroRack}}

      <div class="page euro-rack-page">
        <!-- {{title}} -->
        <div class="euro-rack-info">
        	<div class="head">       		
						<div class="title">{{title}}</div>
						<div class="sub-title">{{subTitle}}</div>
        	</div>
        	<div class="description">
        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quia impedit pariatur dicta quisquam, molestias distinctio reprehenderit ratione cupiditate, quae dignissimos deserunt cum esse a! Saepe a, nostrum. Neque, dolorum!
        	</div>
        </div>
        <div class="euro-rack-image-wrapper">
        	<img class="euro-rack" src="{{image.url}}" >
        </div>

      </div>

    {{/with}}
  {{/if}}
</template>