.admin {
  position: fixed;
  overflow-y: auto;
  background-color: $white;
  color: $darkGray;
  width: calc(50% - 80px);
  height: 100%;
  top: 0;
  left: -50%;
  transition: left .3s ease-in-out;
  padding: 0 40px 0 40px;
  &.open {
    left: 0;
  }

  #close-admin-panel {
    text-align: right;
    cursor: pointer;
    font-size: 18px;
  }

  .back {
    position: absolute;
    top: 19px;
  }

  .add-euro {
    margin: 0 0 4px 0;
    font-size: 25px;
    color: $darker;
  }

  #edit-euro-rack {
    background-color: #F4F3F1;
    margin: 10px 0;
    padding: 20px;
    border-radius: 4px;
    input[type="text"] {
      background-color: #ECEBEA;
      border: none;
      height: 30px;
      width: calc(100% - 10px);
      padding: 0 0 0 10px;
      margin: 0 0 5px 0;
    }
    input[type="submit"] {
      font-family: 'DINProRegular';
      color: $gray;
      border: none;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 41px;
      margin-top: 10px;
      border-radius: 4px;
      background-color: $beige;
      @include font-size(1);
    }
  }

  .uploader-wrapper {
    padding: 20px 0;
    background-color: #F4F3F1;
    border-radius: 4px;
    text-align: center;
    input[type="file"] {
      display: none;
    }
    .box {
      height: 41px;
      margin: 0;
      .info-label {
        width: 200px;
        display: inline-block;
        background-color: transparent;
        color: $gray;
        padding: 10px 0;
      }
      .outer-progress {
        width: 200px;
        display: inline-block;
        background-color: transparent;
        height: 41px;
        position: relative;
        .inner-progress {
          font-family: 'DINProRegular';
          height: 41px;
          background-color: $darker;
          font-size: 10px;
          line-height: 4;
          p {
            margin: 0;
            padding: 0;
            position: absolute;
            left: 50%;
          }
        }
      }
    }
    .delete-image {
      @include font-size(1);
      margin-top: 10px;
      width: 200px;
      height: 41px;
      background-color: transparent;
      color: $gray;
      display: inline-block;
      line-height: 2.5;
      cursor: pointer;
      transition: background-color .4s;
      &:hover {
        background-color: $beige;
      }
    }
    button {
      font-family: 'DINProRegular';
      @include font-size(1);
      border: none;
      width: 200px;
      height: 41px;
      padding: 0;
      background-color: $gray;
      color: $beige;
      cursor: pointer;
    }
    .preview-wrapper {
      margin-top: 10px;
      img {
        width: 200px;
        vertical-align: top;
      }
    }
  }

  #submit-euro-rack {
    padding: 0;
    word-spacing: -4px;
    input[type="text"] {
      margin: 0;
      border: none;
      background-color: $darker;
      height: 30px;
      padding: 0 0 0 10px;
      border-right: 1px solid $darker;
      white-space: nowrap;
      width: calc(70% - 11px);
      vertical-align: top;
      transition: background-color 1s;
      &:focus {
        outline:none;
        background-color: $beige;
      }
    }
    input[type="submit"] {
      border: none;
      height: 30px;
      width: 30%;
      padding: 0;
      margin: 0;
      vertical-align: top;
      background-color: $beige;
      color: $gray;
      cursor: pointer;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      border-radius: 4px;
      border-top: 2px solid $beige;
      position: relative;
      padding: 20px;
      margin-top: 10px;
      background-color: $darker;
      overflow: hidden;
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $beige;
        left: 0;
        top: -100%;
        z-index: 5;
        font-size: 130px;
        text-transform: uppercase;
        line-height: 1.5;
        color: $darker;
        padding-left: 6px;
        overflow: hidden;
        transition: top .4s;
        &.go {
          top: 0;
        }
      }
      a {
        position: relative;
        z-index: 10;
        font-family: 'DINProBold';
        color: $darkGray;
        transition: color .3s;
        &:hover {
          color: $white;
        }
      }
      .link-to-edit {
        display: inline-block;
        margin: 0;
      }
      .delete-euro {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 0;
      }
      .euro-controls {
        border-top: 1px dotted $darker;
        margin-top: 10px;
        padding-top: 10px;
      }
    }
  }
}