.app {
  position: fixed;
  overflow-x: hidden; 
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: left .3s ease-in-out, width .3s ease-in-out;
  &.open {
    left: 50%;
    // width: 50%;
  }
  .stripe1 {
    position: fixed;
    height: 100%;
    width: 275px;
    left: 0;
    background-color: $darker;
    z-index: 700;
    transition: left .3s ease-in-out;
    @media (max-width: $largeMonitorBreakpoint) {
      width: 210px;
    }
    &.open {
      left: 50%;
    }
    &.gray {
      background-color: $darkGray;
    }
  }
  .stripe2 {
    background-color: $middleGray;
    width: 50%;
    height: 100%;
    position: fixed;
    display: none;
    @media (max-width: $largeMonitorBreakpoint) {
      width: 60%;
    }
    &.gray {
      display: inherit;
    }
  }

  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  // MAIN NAV
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 155px);
    height: 200px;
    padding: 20px 0 0 155px;
    border-bottom: 1px solid $black;
    text-transform: uppercase;
    @include font-size(0.8);
    z-index: 900;
    @media (max-width: $wideMonitorBreakpoint) {
      height: 150px;
    }
    @media (max-width: $largeMonitorBreakpoint) {
      padding: 20px 0 0 90px;
      width: calc(100% - 90px);
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        padding: 0 30px 0 30px;
        a {
          // transition: color 1s;
        }
      }
    }
    &.gray {
      color: $beige;
      a {
        color: $beige;
      }
    }
    #logo{
      background-image: url('/images/logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 130px;
      height: 15px;
      position: absolute;
      bottom: 20px;
      left: 114px;
      @media (max-width: $largeMonitorBreakpoint) {
        left: 49px;
      }
    }
  }

  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  // HOME
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------

  .home {
    position: relative;
    width: 100%;
    top: 220px;
    @media (max-width: $wideMonitorBreakpoint) {
      top: 170px;
    }
    .euro-racks {
      position: relative;
      width: calc(100% - 325px);
      float: right;
      word-spacing: -4px;
      padding-right: 50px;
      text-align: center;
      @media (max-width: $largeMonitorBreakpoint) {
        width: calc(100% - 260px);
      }
      .euro-rack {
        position: relative;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        word-spacing: normal;
        overflow: hidden;
        margin: 50px 0 0 50px;
        transform-origin: 50%;
        // opacity: 0;
        // transition: width .3s, height .3s, opacity 1s;
        // transition-delay: 0s, 0s, 0.3s;
        .title {
          position: absolute;
          text-rendering: auto;
          letter-spacing: normal;
        }
        img {
          height: 100%;
          width: 100%;
          cursor: pointer;
          position: relative;
          z-index: 0;
        }
      }
      .circle {
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        transform: translateZ(0);
        top: 0;
        left: 0;
        position: absolute;
        transform-origin: center center;
        width: 150px;
        height: 150px;
        background-color: $gray;
        border-radius: 100%;
        z-index: 50;
      }
    }
  }

  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  // MODULE PAGE
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------  

  .euro-rack-page {
    position: absolute;
    width: 100%;
    height: 100%;

    .euro-rack-info {
      // background-color: $middleGray;
      position: absolute;
      left: 275px;
      width: calc(50% - 275px);
      // height: calc(100% - 270px);
      top: 0;
      padding-top: 270px;
      color: $beige;
      @media (max-width: $wideMonitorBreakpoint) {
        padding-top: 220px;
        // height: calc(100% - 220px);
      }
      @media (max-width: $largeMonitorBreakpoint) {
        left: 210px;
        width: calc(60% - 210px);
      }

      .head {
        @include font-size(5);
        text-transform: uppercase;
        padding-left: 30px;
        margin-top: -14px;
        line-height: 1;
        @media (max-width: $wideMonitorBreakpoint) {
          @include font-size(4.5);
        }
        @media (max-width: $largeMonitorBreakpoint) {
          @include font-size(4);
          margin-top: -12px;
        }
        .title {
          font-family: 'DINProBold';
        }
        .sub-title {
          color: $darkGray;
          max-width: 95%;
        }
      }

      .description {
        padding-left: 35px;
        margin-top: 20px;
        max-width: 80%;
      }
    }

    .euro-rack-image-wrapper {    
      position: relative;
      width: 50%;
      left: 50%;
      height: 100%;
      top: 0;
      @media (max-width: $largeMonitorBreakpoint) {
        width: 40%;
        left: 60%;
      }
      .euro-rack {
        position: absolute;
        top: 270px;
        left: 50%;
        transform: translateX(-50%);
        width: 450px;
        opacity: 1;
        @media (max-width: $wideMonitorBreakpoint) {
          top: 220px;
          width: 350px;
        }
        @media (max-width: $largeMonitorBreakpoint) {
          width: 250px;
        }
      }
    }
  }

  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  // TRANSITION
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------

  .transition-panel {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $black;
    top: 0;
    left: -100%;
    z-index: 2000;
    transition: transform .4s;
    transition-delay: .4s;
    p {
      font-family: 'DINProBold';
      line-height: 0.712;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      top: 45%;
      transform: translate(-100%, -50%);
      color: $darkGray;
      font-size: 1250px;
      letter-spacing: -100px;
      transition: transform .6s;
      transition-delay: .4s;
      @media (max-width: $wideMonitorBreakpoint) {
        font-size: 650px;
        letter-spacing: -50px;
      }
      @media (max-width: $largeMonitorBreakpoint) {
        font-size: 460px;
        letter-spacing: -35px;
      }
      &.open {
        transform: translate(0, -50%);
      }
    }
    &.second {
      background-color: $beige;
      transition: none;
      transition-delay: 0s;
      img {
        position: absolute;
        width: 120%;
        left: 0;
        top: 50%;
        opacity: 0.1;
        transform: translate(0, -50%);
        transition: transform 1s ease-in-out;
        &.leave {
          transform: translate(0, -50%);
        }
      }
    }
    &.open {
      transform: translateX(100%);
    }
    &.leave {
      transition-delay: .3s;
      transform: translateX(200%);
    }
  }
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------
  // MODULES-NAV
  //---------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------

  .euro-racks-nav {
    position: absolute;
    top: 270px;
    left: 0;
    width: 275px;
    z-index: 750;
    @include font-size(0.8);

    @media (max-width: $wideMonitorBreakpoint) {
      top: 220px;
    }

    @media (max-width: $largeMonitorBreakpoint) {
      width: 210px;
    }

    ul {
      position: relative;
      padding: 0 30px 0 10px;
      text-align: right;
      text-transform: uppercase;
      margin: 0;
      li {
        list-style: none;
        padding: 4px 0;
        a {
          &.active {
            transition: background-color .3s, color .3s;
            background-color: $gray;
            color: $beige;
          }
        }
        div {
          display: block;
          position: relative;
          color: $gray;
          border-radius: 3px;
          span {
            font-family: 'KarlaRegular';
          }
          .euro-new {
            font-family: 'DINProBold';
            font-size: 10px;
            vertical-align: baseline;
            color: red;
            padding-right: 4px;
          }
          .euro-in-production {
            font-size: 10px;
            vertical-align: baseline;
            color: red;
            padding-right: 4px;
          }
          .euro-rack-title {
            padding: 2px 3px;
            border-radius: 2px;
            &:hover {
              background-color: $gray;
              color: $beige;
            }
          }
        }
      }
    }
    &.gray {
      ul {
        li {
          a {
            color: $beige;
            &:hover {
              background-color: $beige;
              color: $darkGray;
            }
            &.active {
              background-color: $beige;
              color: $darkGray; 
            }
          }
        }
      }
    }
  }
  &.gray {
    background-color: $gray;
  }
}